services:
  api-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bxyt_api_container
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - PORT=5000
    volumes:
      - .:/app
    restart: always
